@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Footer {
    background-color: #00913F;
}

.Logo {
    width: 240px;
}

.Row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Column {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.Title {
    margin-top: 10px;
    font-family: Inter;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}

.Link {
    margin-top: 10px;
    font-family: Inter;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}

.Center {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #FFFFFF;
}

.Direitos {
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
}

@media (max-width: 768px) {
    .Row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Column {
        padding: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Link{
        margin: 10px;
    }

    .Title {
        margin: 10px;
        font-family: Inter;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: #FFFFFF;
    }
}