.Footer {
    background-color: #00913F;
}

.Logo {
    width: 240px;
}

.Row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Column {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.Link{
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}

.Center{
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #FFFFFF;
}

.Direitos{
    color: #FFFFFF;
}