@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Footer {
    background-color: #00913F;
}

.Logo {
    width: 240px;
}

.Row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Column {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.Link{
    margin-top: 10px;
    font-family: Inter;
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}

.Center{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #FFFFFF;
}

.Direitos{
    color: #FFFFFF;
    font-family: Inter;
}